* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    position: relative;
    transition: 0.5s;
}

#baitap{
    width: 75%;
    margin: 100px auto;
}

#baitap .content{
    margin: 0 auto;
    width: 1000px;
    border-radius: 6px;
    overflow: hidden;
    border: 3px solid black;
}

#baitap .nav{
    width: 30%;
    background-color: red;
    border-right: 3px solid black;
}

#baitap .nav .nav-link{
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto;
    border: 1px solid yellow;
    color: red;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    background-color: yellow;
}

#baitap .nav .nav-link:hover{
    color: black;
}

#baitap .nav .nav-link.active {
    background-color: blue;
}

#baitap .tab-content{
    width: 100%;
    background-color: green;
    padding: 20px;
    position: relative;

}

#baitap .tab-content::before,#baitap .tab-content::after{
    content: '';
    position: absolute;
    background: rgb(251,205,63);
    background: radial-gradient(circle, rgba(251,205,63,1) 0%, rgba(252,70,107,1) 100%);
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}

#baitap .tab-content::before{
    width: 0;
    height:4px;
}

#baitap .tab-content::after{
    height: 0;
    width: 4px;
}

#baitap .tab-content:hover::before{
    width: 100%;
}

#baitap .tab-content:hover::after{
    height: 100%;
}

#baitap .pane-content h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

#baitap .pane-content .title{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 20px  groove yellow;
}

button{
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: #4b70e2;
    color: #f9f9f9;
    border: none;
    outline: 0;
    padding: 10px 40px;
    transition: all 0.5s;
}

.form_input .result{
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: black;
    color: white;
}

button:hover{
    transform: scale(1.1);
}

input{
    border: none;
    outline: 0;
    padding: 8px 16px;
    background-color: #ecf0f3;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9
}
